*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cad{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width:100% ;
    margin: auto;
    text-align: center;
    background-color: #212121;
}
.cad-title{
    align-items: center;
    padding : 1rem;
    color: #fff;
    font-size: 1.7rem;
    letter-spacing: 6px;
    
}
.insan-img{
    width: 45%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cad-text{
    margin-top:1rem ;
    
    border: 1px solid #fff;
   width: 40%;
   margin-left: 30%;
   border-radius: 1rem;
}
.cad-text p{
    color: #fff;
    line-height: 1.25rem;
    padding: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cad-body{
    display: grid;
    grid-template-rows: 790px 790px;
    grid-template-columns: 600px 600px;
    row-gap: 50px;
    column-gap: 30px;
    background-color: #d4c995;
    
}
.cads{
    border: 2px solid #212121;
    border-radius: 2rem;
    background-color: #fff;
    margin: 2rem;
    align-items: center;
}
.aragorn,
.boromir,
.isildur,
.faramir{
    padding: 1rem;
    color: #212121;
     text-align: center;
}
.imges{
    width: 90%;
    padding-left: 2rem;
}
.lego-text{
    width: 90%;
    color: #212121;
    padding: 2rem;
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}